
/* classic popup */
#boxSelectCity .City{border-bottom:1px solid #f6f6f6;height: 44px;}
#boxSelectCity .City a, #otherCities .City a{font-size:18px; line-height:44px; display:block; color:#999;background: url("/assets/front/images/menu_arr_r.png") no-repeat 282px center;padding-left: 23px;padding-right: 26px;}
#boxSelectCity .City a b{font-weight: normal;}
#boxSelectCity .City a:hover, #otherCities .City a:hover{color:#2570a8; background: #f7f7f7 url("/assets/front/images/menu_arr_r.png") no-repeat 283px 13px;}

/*.bg_popup{background:url(images/bg_poup.png) repeat-x !important; height:48px !important; padding-top:5px; position:relative}*/
.logo_popup{background:url(images/logo_rb_popup.png?v=1.1111) no-repeat right center; padding-right:129px !important; text-align: left;}
/*.arrow_popup{background:url(images/arrow.png) no-repeat center; width:15px; height:9px; top:48px; left:150px; position:absolute; z-index:1000}*/
.classic-popup_eb{background: #fff;border-radius: 4px;/*padding:5px*/}
.classic-popup-title_eb{width:100%;background:#333; border-radius: 2px 2px 0px 0px;}
.classic-popup-title_eb,.classic-popup-title_eb .fl_eb,a.classic-popup-close_eb{height: 43px;line-height:43px;color:#fff;    }
.classic-popup-title_eb .fl_eb{padding-left:20px;font-size:14px;/*text-transform:uppercase;text-shadow:0 1px 0 #666666;*/}
a.classic-popup-close_eb{float:right;font-size:18px;line-height: 30px;padding:0 10px; font-family: verdana;}
a.classic-popup-close_eb:hover{text-decoration:none;color:#4f2d00}
.classic-popup-content_eb{width:100%;background:#fff;color:#333; border-radius: 0px 0px 2px 2px;}

.classic-popup-content_eb .bt_sl_job{height: 155px;width:50%;float:left;font-weight: bold;font-size: 16px;cursor: pointer;text-align: center;}
.classic-popup-content_eb .bt_sl_job:hover{background: #e7e7e7;}
.classic-popup-content_eb .bt_sl_job_sear{color: #0b67a8;border-right: solid 1px #e0e0e0;}
.classic-popup-content_eb .bt_sl_job_recr{color: #1d826e;margin-left: -1px;}
.classic-popup-content_eb .bt_sl_text{width: 70%;margin: 0 auto;line-height:25px;font-family: Arial;}
.classic-popup-content_eb .arr_sl_sear{background: url("images/job/icon_job_sear.png") no-repeat center center;display: block;height: 80px;width: 100%;}
.classic-popup-content_eb .arr_sl_recr{background: url("images/job/icon_job_recr.png") no-repeat center center;display: block;height: 80px;width: 100%;}
/*.classic-popup-content_eb .content_eb .fl_eb{padding: 13px 0px 0px 90px;}*/
.class-popup-title-cf{background:#e2e2e2;width: 100%;color: #666;border-bottom: solid 1px #ccc;}
.class-popup-title-cf .class-popup-title-m{height:45px;line-height:45px;margin: 0 10px 0 25px;}
.class-popup-title-cf .class-popup-title-m, .class-popup-title-cf .class-popup-title-m .class-popup-close-cf{font-size:16px;font-weight: bold;}
.class-popup-title-cf .class-popup-title-m .class-popup-close-cf{color: #828282;float: right}
.class-popup-title-cf .class-popup-title-m .class-popup-close-cf:hover{color: #c00;}
/*#otherCities .City a {margin-top:10px; margin-bottom:5px; font-size:15px; border-bottom:1px solid #EEE; line-height:18px; height:30px; display:block; color:#999;}*/
/*#otherCities .City a:hover {color:#000}*/
.bRight_eb{
    border-right:1px solid #DDD;
}
.bBottom_eb{
    border-bottom:1px solid #DDD;
}

